<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
        <title>{{ page.title }}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scaled=1.0" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="content-language" content="" />
        <link href="./css/style-new.css" rel="stylesheet" type="text/css" />
        <link href="//fonts.googleapis.com/css?family=Roboto+Condensed&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" media="all" href="./css/jquery-ui-1.8.10.custom.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" ></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>

        <link rel="apple-touch-icon" sizes="57x57" href="./myicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="./myicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./myicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="./myicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="./myicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="./myicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./myicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="./myicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./myicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="./myicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./myicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="./myicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./myicons/favicon-16x16.png">
        <link rel="manifest" href="./manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="./myicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">


        <script>
            $(function() {
                // this will get the full URL at the address bar
                var url = window.location.href;

                // passes on every "a" tag
                $("#navbar a").each(function() {
                    // checks if its the same on the address bar
                    if (url == (this.href)) {
                        $(this).closest("li").addClass("active");                       
                    }
                });
            });        
        </script>
</head>
    

    <body>

         

        <div class="site">


            <!--
            Header material here
            -->
            
            <div class="headerGrid">

                

                    

                            

                            
                



                 <div id="header" align="center"> 
                    <div class="image">
                    
                        <img class="fullImage" src="./images/headerBackground.jpg" alt="EWCA - Empowering Women in Cryptography with Allies" />

                        <img class="logoImg" src="./images/headerLogo.png">
                                                                                                        


                    </div>
                </div>                
            </div>
        

            <!--
            Navbar
            -->

            

            <div class="navbarGrid">
                <div id="navbar">
                    <ul>
                        <li><a href="./">Home</a></li>
                        <li><a href="./program.html">Program</a></li>
                        <li><a href="./mentorLunch.html">Mentorship Lunch</a></li>
                        <li><a href="./callForTalks.html">Call For Talks</a></li>    
                        <li style="float:right"><a href="./contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>


            <div class="content">
                {{ content }}    
            </div>

            
            <div class="footer">
                <!--  
                  <img class="footerLogo" src="./images/footerLogo.png">
                -->
            </div>
            
        </div>    

      

     


        
        

        <!--<div style="padding-top: 60px;"></div>-->


        

        
        

       
    
    </body>

</html>
